body{
    height: 100vh;
    background: linear-gradient(to bottom right,#808080,#000000);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.calculadora{
    width: 45vw;
    height: 70vh;
    display: block;
    background: #000000;
    opacity: .8;
    border-radius: 10px;
    padding: 10px;
}